
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url(node_modules/normalize.css/normalize.css);
@import url(node_modules/mapbox.js/theme/style.css);
@import url(node_modules/font-awesome/css/font-awesome.css);
@import url(node_modules/react-select/dist/react-select.css);
@import url(src/components/fullscreen/style.css);
@import url(src/components/log/style.css);
@import url(src/components/log-item/style.css);
@import url(src/components/transitive-map-layer/style.css);
@import url(src/utils/leaflet-icons/index.css);

body {
  font-size: 16px;
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
               "Helvetica Neue",
               sans-serif;
  color: #0b2b40;
}

.Taui-Map {
  position: relative;
  width: 100%;
  height: 100%;
}

.Taui-Dock {
  background-color: #0b2b40; /* Conveyal blue down to 25% brightness in HSB */
  position: absolute;
  width: 414px;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
}

.Taui-Dock-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.Taui-Dock-content .heading {
  color: rgba(255, 255, 255, 0.9);
  margin: 0.5rem 0 0.5rem;
  font-weight: 700;
}

.Taui-Dock-content .title {
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.5rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

.Taui-ActionLog {
  display: block;
  bottom: 0;
  height: 5rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.Geocoder {
  margin-bottom: 1rem;
}

.Select-control {
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  color: #0b2b40;
  height: 3rem;
}

.Select-input,
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.has-value.Select--single > .Select-control .Select-value {
  padding-right: 3rem;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #0b2b40;
}

.Select-clear {
  font-size: 1.5rem;
}

.Select-arrow {
  border-width: 0.4rem 0.4rem 0.2rem;
}

.Select-arrow-zone {
  width: 2rem;
  padding-right: 1rem;
}

.Select-option,
.Select-noresults {
  padding: 1rem;
}

.TimeCutoff {
  display: flex;
  margin: 0.5rem 0 1rem;
}

.TimeCutoff .Time {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

.TimeCutoff input[type=range] {
  margin-left: 1rem;
  flex: auto;
}

.Card {
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.Card-alternate .CardTitle {
  background-color: orange;
}

.CardTitle {
  background-color: #4269a4;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
}

.Card-active > .CardTitle {
  cursor: inherit;
}

.Card .heading {
  color: #0b2b40;
  border-bottom: 1px solid rgba(11, 44, 65, 0.25);
  padding-bottom: 0.25rem;
}

.Card > .CardTitle {
  border-radius: 0.5rem 0.5rem 0 0;
}

.CardContent {
  color: #0b2b40;
  padding: 0 1rem 1rem;
}

.CardSegment {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  display: inline-block;
}

.CardAccess .CardSegment {
  padding: 0;
}

.Card .increase {
  color: green;
}

.Card .decrease {
  color: red;
}

.Card .Trips {
  margin-top: 0.5rem;
}

.Card .Trip {
  margin-top: 0.5rem;
}

.Card .Metric {
  height: 1.5rem;
}

.Card .BestTrip {
  display: flex;
}

.Card .BestTrip > div {
  flex-grow: 1;
}

.Card .BestTrip > div:last-of-type {
  text-align: right;
}

.Card .Metric > .pull-right {
  margin-top: 0.25rem;
}

.CardIndex {
  margin-right: 0.25rem;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

.leaflet-popup-content-wrapper,
.map-legends,
.map-tooltip {
  border-radius: 0.5rem;
  background-color: #0b2b40;
  font-size: 1rem;
  color: #fff;
}

.leaflet-popup-close-button + .leaflet-popup-content-wrapper .leaflet-popup-content,
.leaflet-popup-content {
  padding: 0.5rem;
}

.Popup button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #0b2b40;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  width: 100%;
  text-align: left;
}

.Popup button:last-of-type {
  margin-bottom: 0;
}

.Popup button:hover {
  background-color: #fff;
}

.leaflet-popup-tip {
  border-top-color: #0b2b40;
}
