@import url(node_modules/react-select/dist/react-select.css);
@import url(src/components/log/style.css);
@import url(src/components/transitive-map-layer/style.css);

:root {
  --rad: 4px;
}

html, body {
  font-size: 15px;
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
               "Helvetica Neue",
               sans-serif;
  color: #0b2b40;
}

.Taui-Map {
  position: relative;
  width: 100%;
  height: 100%;
}

.Taui-Dock {
  background-color: #0b2b40; /* Conveyal blue down to 25% brightness in HSB */
  position: absolute;
  width: 414px;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
}

.Taui-Dock-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding: 1.5rem;
  box-sizing: border-box;
}

.Taui-Dock-content .heading {
  color: rgba(255, 255, 255);
  margin: 1rem 0 0.5rem;
  font-weight: 700;
}

.Taui-Dock-content .heading a {
  color: rgba(255, 255, 255);
  cursor: pointer;
}

.Taui-Dock-content .title {
  color: rgba(255, 255, 255);
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

.Taui-ActionLog {
  display: block;
  bottom: 0;
  height: 5rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.Select {
  margin-bottom: 1px;
}

.Select-control {
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  color: #0b2b40;
  height: 3rem;
}

.Select-input,
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 3.5rem;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #0b2b40;
}

.Select-clear {
  font-size: 1.5rem;
}

.Select-arrow {
  border-width: 0.4rem 0.4rem 0.2rem;
}

.Select-arrow-zone {
  width: 2rem;
  padding-right: 1rem;
}

.Select-option,
.Select-noresults {
  padding: 1rem;
}

.TimeCutoff {
  display: flex;
  margin: 0.5rem 0 1rem;
}

.TimeCutoff .Time {
  font-weight: 700;
  color: rgba(255, 255, 255);
}

.TimeCutoff input[type=range] {
  margin-left: 1rem;
  flex: auto;
}

.Card {
  background-color: #fff;
  border-radius: var(--rad);
  margin-top: 1rem;
}

.Card pre {
  overflow-x: scroll;
  font-size: 0.8rem;
}

.Card textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  min-height: 200px;
  border: none;
  border-radius: var(--rad);
  font-family: monospace;
  font-size: 0.9em;
}

.Card-alternate .CardTitle {
  background-color: orange;
}

.CardTitle {
  background-color: #4269a4;
  color: rgba(255, 255, 255);
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
  display: block;
}

.CardTitle:focus {
  outline: none;
}

.Card-active > .CardTitle {
  cursor: inherit;
}

.Card .heading {
  color: #0b2b40;
  border-bottom: 1px solid rgba(11, 44, 65, 0.25);
  padding-bottom: 0.25rem;
}

.Card > .CardTitle {
  border-radius: var(--rad) var(--rad) 0 0;
}

.CardContent {
  color: #0b2b40;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

table.CardContent {
  padding: 0;
  border-spacing: 1rem 0.75rem;
}

table.CardContent td {
  vertical-align: top;
}

.CardContent .alert {
  color: #c92336;
}

.BestTrip {
  margin-bottom: 1rem;
}

.Attribution {
  color: #fff;
  text-align: center;
}

.Attribution a {
  color: #fff;
  background: url(https://d2f1n6ed3ipuic.cloudfront.net/conveyal-128x128.png) no-repeat;
  padding: 2.2rem 0 2.2rem 2.2rem;
  display: inline-block;
  background-size: 2rem;
  background-position: left;
  background-position-x: left;
  background-position-y: center;
}

.CardSegment {
  font-size: 0.75rem;
  padding: 0.25rem;
  border-radius: var(--rad);
  margin-right: 0.25rem;
  white-space: nowrap;
}

.Card .increase {
  color: green;
}

.Card .decrease {
  color: red;
}

.AlternateTrips {
  margin: 0 0 0.75em;
  line-height: 1.5em;
}

.leaflet-popup-content-wrapper,
.map-legends,
.map-tooltip {
  border-radius: var(--rad);
  background-color: #0b2b40;
  font-size: 1rem;
  color: #fff;
}

.leaflet-popup-close-button + .leaflet-popup-content-wrapper .leaflet-popup-content,
.leaflet-popup-content {
  padding: 0.5rem;
}

.Popup button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--rad);
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #0b2b40;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  width: 100%;
  text-align: left;
}

.Popup button:last-of-type {
  margin-bottom: 0;
}

.Popup button:hover {
  background-color: #fff;
}

.leaflet-popup-tip {
  border-top-color: #0b2b40;
}

.Fullscreen {
  position: absolute;
  height: 100%;
  right: 0;
  left: 414px;
  overflow: hidden;
}

/* Leaflet Markers */
.LeafletIcon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
}

.LeafletIcon:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -13px;
  left: 50%;
  margin-left: -10px;
}

.LeafletIcon.Start {
  background-color: #0b2b40;
}

.LeafletIcon.Start:before {
  border-top: 20px solid #0b2b40;
}

.LeafletIcon.Start:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 7px;
  border-left: solid 8px #fff;
  border-bottom: solid 6px transparent;
  border-top: solid 6px transparent;
}

.LeafletIcon.End {
  background-color: orange;
}

.LeafletIcon.End:before {
  border-top: 20px solid orange;
}

.LeafletIcon.End:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  border: solid 5px #fff;
}
