@import url(node_modules/react-select/dist/react-select.css);
@import url(node_modules/react-virtualized/styles.css);
@import url(node_modules/react-virtualized-select/styles.css);
@import url(src/components/log/style.css);

/** Colors from https://palx.jxnblk.com/2389c9 **/

:root {
  --bold: 500;
  --rad: 4px;

  --dark-blue: #103f5c;
  --blue: #2389c9;
  --orange: #c96323;
  --red: #c92336;
  --green: #36c923;

  --anchor-hover-color: #333;
  --shadow: #333;
}

::-webkit-scrollbar {
  width: 0;
}

html, body {
  font-size: 15px;
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
               "Helvetica Neue",
               sans-serif;
  color: var(--dark-blue);
}

.Taui-Map {
  position: relative;
  width: 100%;
  height: 100%;
}

.isLoading .Taui-Map {
  pointer-events: none;
  opacity: 0.4;
}

.Taui-Dock {
  background-color: var(--dark-blue);
  position: absolute;
  width: 414px;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 25px 0 var(--shadow);
}

.Taui-Dock-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding: 1.5rem;
  box-sizing: border-box;
}

.Taui-Dock-content .heading {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px var(--shadow);
  margin: 1rem 0 0.5rem;
  font-weight: var(--bold);
}

.Taui-Dock-content .heading a {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px var(--shadow);
  cursor: pointer;
}

.Taui-Dock-content .title {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px var(--shadow);
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: var(--bold);
}

.Taui-ActionLog {
  display: block;
  bottom: 0;
  height: 5rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.Select {
  margin-bottom: 1px;
  box-shadow: 0 2px 4px var(--shadow);
}

.Select-control {
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  color: var(--dark-blue);
  height: 3rem;
}

.Select-input,
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 3.5rem;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: var(--dark-blue);
}

.Select-clear {
  font-size: 1.5rem;
}

.Select-arrow {
  border-width: 0.4rem 0.4rem 0.2rem;
}

.Select-arrow-zone {
  width: 2rem;
  padding-right: 1rem;
}

.Select-option,
.Select-noresults {
  padding: 1rem;
}

.TimeCutoff {
  display: flex;
  margin: 0.5rem 0 1rem;
}

.TimeCutoff .Time {
  font-weight: var(--bold);
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px var(--shadow);
}

.TimeCutoff input[type=range] {
  margin-left: 1rem;
  flex: auto;
}

.Card {
  background-color: #fff;
  border-radius: var(--rad);
  margin-top: 1rem;
  box-shadow: 0 2px 4px var(--shadow);
}

.Card pre {
  overflow-x: scroll;
  font-size: 0.8rem;
}

.Card textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  min-height: 200px;
  border: none;
  border-radius: var(--rad);
  font-family: monospace;
  font-size: 0.9em;
}

.CardTitle {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px var(--shadow);
  background-color: var(--blue);
  padding: 1rem 4rem 1rem 1rem;
  font-weight: var(--bold);
  position: relative;
}

.CardLinks {
  position: absolute;
  top: 1rem;
  right: 0;
}

.CardLinks > a {
  cursor: pointer;
  padding: 0 0.5rem;
}

.CardLinks > a:hover {
  color: var(--anchor-hover-color);
  text-shadow: 0 0 1px #fff;
}

.Card > .CardTitle {
  border-radius: var(--rad) var(--rad) 0 0;
}

.CardContent {
  color: var(--dark-blue);
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

table.CardContent {
  padding: 0.25rem 0;
  border-spacing: 1rem 0.5rem;
  line-height: 1.5rem;
}

table.CardContent td {
  vertical-align: top;
}

table.CardContent td:first-of-type {
  text-align: center;
}

.CardContent .alert {
  color: var(--red);
}

.Attribution {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 1px var(--shadow);
}

.Attribution a {
  color: #fff;
  background: url(https://d2f1n6ed3ipuic.cloudfront.net/conveyal-128x128.png) no-repeat;
  padding: 2.2rem 0 2.2rem 2.2rem;
  display: inline-block;
  background-size: 2rem;
  background-position: left;
  background-position-x: left;
  background-position-y: center;
}

.CardSegment {
  font-size: 0.75rem;
  padding: 0 0.25rem;
  border-radius: var(--rad);
  margin-right: 0.25rem;
  white-space: nowrap;
  display: inline-block;
}

.Card .increase {
  color: var(--green);
  white-space: nowrap;
  display: inline-block;
}

.Card .decrease {
  color: var(--red);
  white-space: nowrap;
  display: inline-block;
}

.leaflet-popup-content-wrapper,
.map-legends,
.map-tooltip {
  border-radius: var(--rad);
  background-color: var(--dark-blue);
  font-size: 1rem;
  color: #fff;
}

.leaflet-popup-close-button + .leaflet-popup-content-wrapper .leaflet-popup-content,
.leaflet-popup-content {
  padding: 0.5rem;
}

.Popup button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--rad);
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: var(--dark-blue);
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  width: 100%;
  text-align: left;
}

.Popup button:last-of-type {
  margin-bottom: 0;
}

.Popup button:hover {
  background-color: #fff;
}

.leaflet-popup-tip {
  border-top-color: var(--dark-blue);
}

.Fullscreen {
  position: absolute;
  height: 100%;
  right: 0;
  left: 414px;
  overflow: hidden;
}

/* Leaflet Markers */
.LeafletIcon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
}

.LeafletIcon:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -13px;
  left: 50%;
  margin-left: -10px;
}

.LeafletIcon.Start {
  background-color: var(--dark-blue);
}

.LeafletIcon.Start:before {
  border-top: 20px solid var(--dark-blue);
}

.LeafletIcon.Start:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 7px;
  border-left: solid 8px #fff;
  border-bottom: solid 6px transparent;
  border-top: solid 6px transparent;
}

.LeafletIcon.End {
  background-color: var(--orange);
  margin-top: -20px !important;
}

.LeafletIcon.End:before {
  border-top: 20px solid var(--orange);
}

.LeafletIcon.End:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  border: solid 5px #fff;
}

.TransitSegment, .WalkSegment, .Stop {
  /* filter: url(#shadow); */
}
